@charset "utf-8";

/* antD 样式重写 */
/* body {
  background-color: #f0f2f5
} */

.ant-table {
  color: #000;
}
.ant-comment {
  width: 100%;
}
.ant-form-item {
  margin-bottom: 8px;
}

/* antD pro  */
.antd-pro-exception-actions {
  display: none;
}

/*=== customized css ====*/
.information-icon {
  width: 15px;
  height: 15px;
}

.layout .logo-wrapper {
  float: left;
  color: rgba(0, 0, 0, 0.65);
  margin-right: 20px;
}

.layout .logo {
  width: 96px;
  height: 50px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/v2/static/pages/images/logo.png);
  background-size: 96px 30px;
}

.customized-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.customized-layout .trigger:hover {
  color: #1890ff;
}
.logo {
  width: 1100px;
  margin: 0 auto;
}
.customized-layout .logo {
  height: 32px;
  /* background: rgba(255, 255, 255, .2); */
  margin: 16px;
  color: #fff;
  text-align: center;
  line-height: 32px;
}

/* 头部功能操作 */
.ant-layout-header {
  height: 66px;
  line-height: 66px;
}

.ant-layout-header .header-function {
  text-align: right;
}

.ant-layout-header .header-function.no-menu {
  margin-left: 116px;
  position: relative;
}

.ant-layout-header .header-function .action {
  color: #314659 !important;
  display: inline-block;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.ant-layout-header .header-function .search-order {
  position: absolute;
  top: 9px;
  left: 0;
}

.ant-layout-header .header-function .action > i {
  /* color: hsla(0, 0%, 100%, .85); */
  vertical-align: middle;
}

.ant-layout-sider {
  min-height: 100vh;
}

/* tableList*/
.tableList .tableListOperator {
  margin-bottom: 16px;
}

.tableList .tableListOperator button {
  margin-right: 8px;
}

.tableListForm .ant-form-item {
  display: flex;
  margin-right: 0;
  margin-bottom: 24px;
}

.tableListForm .ant-form-item > .ant-form-item-label {
  width: auto;
  padding-right: 8px;
  line-height: 32px;
}

.tableListForm .ant-form-item .ant-form-item-control {
  line-height: 32px;
}

.tableListForm .ant-form-item-control-wrapper {
  flex: 1;
}

.tableListForm .submitButtons {
  display: block;
  margin-bottom: 24px;
  white-space: nowrap;
}

@media screen and (max-width: 1199px) {
  .tableListForm .ant-form-item {
    margin-right: 24px;
  }
}

@media screen and (max-width: 991px) {
  .tableListForm .ant-form-item {
    margin-right: 8px;
  }
}

.detail-title {
  font-size: 16px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.detail-term {
  display: table-cell;
  padding-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 20px;
  white-space: nowrap;
}

.detail-term:after {
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
  content: ':';
}

.detail-children {
  display: table-cell;
  width: 100%;
  padding-bottom: 16px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 20px;
}
.ant-carousel {
  margin-top: 66px;
}
.ant-card {
  margin: 5px 0 8px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 2px 6px rgba(63, 74, 105, 0.16);
  border-radius: 3px;
}
.ant-tag {
  margin: 4px 10px;
  padding: 3px 8px;
}
