.margin-0 {
  margin: 0;
}
.margin-10 {
  margin: 10px;
}
.overflow-hidden {
  overflow: hidden;
}
.position-fixed {
  position: fixed;
}
.align-center {
  text-align: center;
}
/* BasicLayout */
.basic-header {
  background: #fff;
  padding: 0;
  width: 100vw;
  top: 0;
}
.basic-breadcrumb {
  padding: 5px 26px;
  background: #f0f2f5;
}
.basic-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}
.basic-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.basic-trigger:hover {
  color: #1890ff;
}
.basic-logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.basic-content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 200px);
}
