.margin-0 {
  margin: 0;
}
.margin-10 {
  margin: 10px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.overflow-hidden {
  overflow: hidden;
}
.position-fixed {
  position: fixed;
  z-index: 99;
  width: 100%;
}
.align-center {
  text-align: center;
}
/* BasicLayout */
.basic-header {
  background: #fff;
  padding: 0;
  border: none;
  box-shadow: 0 3px 8px #d5dadf;
  top: 0;
}
.basic-breadcrumb {
  padding: 12px 0;
  margin: 0 26px;
}
.basic-sider {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  /* -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  box-shadow: -3px 0 8px #fafafa; */
}
.basic-sider ::-webkit-scrollbar {
  width: 0 !important;
}
.basic-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.basic-trigger:hover {
  color: #1890ff;
}
.basic-logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.basic-content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 135px);
  margin-top: 66px;
  overflow: hidden;
}
